{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}


<div class="container">

  <h1 class="my-4">{{destination.name}}</h1>

  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src={{destination.pretty_picture.url}} alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{destination.description}}
        <br>
        <br>
     <!--    <p>Best time to travil: {{destination.optimal_visiting_season}} <img class="img-fluid" src="destinations.ATT.jpg" alt=""></p> -->
              <p>Best time to travil: {{destination.optimal_visiting_season}} </p>
        <br>
        <br>
        <p>And the top activites are: {{destination.activites}}</p>
    </h3>

          <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>
    </div>

  </div>

  {% endblock content %}
